<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <title>Моя веб-страница</title>
</head>

<div class="wrapper">
    <h3>Общее число посетителей</h3>
    <div id="main-graph">аааааааа</div>

    <div class="box">Общее число посетителей</div>
    <div class="box">Прирост подписчиков</div>
    <div class="box">Количество репостов</div>
    <div class="box">Количество лайков</div>
    <div class="box">Самый популярный пост</div>
    <div class="box">Ссылка</div>
    <div class="box">Временной промежуток</div>
</div>


</html>-->